---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Card1 from "../components/Card-1.astro";
---

<Layout title="Matias Portfolio">
  <main>
    <Card />
    <!-- <Card1 /> -->
  </main>
</Layout>

-
