---
import "./style.css";
---

<div class="h-screen w-9/12 mx-auto">
  <h1 class="text-white text-2xl text-center">Projects</h1>
  <div
    class="pt-4 pb-4 justify-center grid h-full md:grid-cols-1 lg:grid-cols-2 gap-3 rounded"
  >
    <!-- CARD 1 START -->
    <div class="card-1 card md:col-span-1 lg:col-span-2">
      <h1 class="text-white">first</h1>
    </div>
    <!-- CARD 1 END -->

    <!-- CARD 2 START -->

    <div class="card card-2 md:col-span-1 lg:row-span-2">
      <div class="flex flex-col items-center"></div>
      <div class="gradient-circle"></div>
      <div class="h-full text-white text-l flex flex-col">
        <h1>second</h1>
      </div>
    </div>

    <!-- CARD 2 END -->
  </div>
</div>
